---
layout: default
title: "Amit Dev"
---

{% for post in site.posts offset: 0 limit: 50 %}
<div class="row">
  <div class="span7">    
    <div class="row">
      <div class="span5">
		<h2>{{ post.title }}</h2>
        <p>
          {{ post.summary }}. <small><a href="{{ post.url }}">Read more...</a></small>
        </p>
		<p>
          <i class="icon-calendar"></i> {{ post.date | date: "%B %e, %Y" }}
          | <i class="icon-comment"></i> <a href="" data-disqus-identifier="{{ post.url }}"></a>              | <i class="icon-tags"></i> Tags :{% for tag in post.tags %} <a href="/tags/{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}		            
        </p>
      </div>
    </div>    
    <hr>
  </div>
</div>
{% endfor %}
