<h2>Amit Dev</h2>
<p><img src="http://www.gravatar.com/avatar/e2058301b63bed4e6be9b2d5a7314f3b.png" alt="Amit Dev" title="Follow me on Twitter @amitdevr"  class="img-rounded floatLeft" />			
Life long learner. Eclectic. <br> Likes to read, code, play badminton.</p>
<p><a href="https://twitter.com/amitdevr" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @amitdevr</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/amitdev" rel="me" class="social github" title="Go to github.com/amitdev" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/amitdevr" rel="me" class="social twitter" title="Go to twitter.com/amitdevr" target="_blank"></a></li>
	</ul>
</p>
