<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://amitdev.github.io">Memetic Musings</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://amitdev.github.io"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/amitdevr" rel="tooltip" title="Go to twitter.com/amitdevr" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/amitdev" rel="tooltip" title="Go to github.com/amitdev" target="_blank">GitHub</a></li>
					<li class=""><a href="http://www.linkedin.com/profile/view?id=94539442" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>										
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/amitdev/PMD-Intellij" rel="tooltip" title="Go to PMD Plugin on GitHub" target="_blank">PMD Plugin for IntelliJ</a></li>
					<li class=""><a href="https://github.com/ironport/shrapnel" rel="tooltip" title="Go to Shrapnel on GitHub" target="_blank">Shrapnel</a></li>
					<li class=""><a href="https://github.com/amitdev/lru-dict" rel="tooltip" title="Go to lru-dict on GitHub" target="_blank">Efficient Python LRU Dict</a></li>
				</ul>
			 </li>			
		</ul>		
	  </div>
	</div>
  </div>
</div>
