<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
<p><img src="http://www.gravatar.com/avatar/e2058301b63bed4e6be9b2d5a7314f3b.png" alt="Amit Dev" class="img-rounded floatLeft" />

      <p>{{ site.description }}</p>
      <a href="https://twitter.com/amitdevr" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="false">Follow @amitdevr</a>
    </div>

      <div class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </div>
      <div class="sidebar-nav-item"><a href="https://github.com/amitdev">GitHub projects</a></div>
      <div class="sidebar-nav-item"><a href="http://www.linkedin.com/profile/view?id=94539442">LinkedIn profile</a></div>
      <div class="sidebar-item">Tags
<ul>
{% for tag in site.tags %}		
	<li><a href="/tags/{{ tag[0] }}">{{ tag[0] }}</a></li>
{% endfor %}
</ul>
      </div>


    <p>{{ site.time | date: '%Y' }}. All lefts unreserved. <small>Based on theme from <a href="http://lanyon.getpoole.com">Lanyon</a>.</small></p>
  </div>
</div>
<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
